<!-- Sidebar Holder -->

<div id="sidebar" class="sw-sidebar">
    <form method="post" class="sw-search d-flex align-items-center ng-pristine ng-valid" action="/admin/search">
        <input type="search" class="form-control" id="search-input" name="keyword" placeholder="Search for..."
            aria-label="Search for..." autocomplete="off">
        <button class="btn btn-light sw-search-docs-toggle d-md-none p-0 ml-3" type="submit" data-toggle="collapse"
            data-target="#sw-docs-nav" aria-controls="sw-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
                <title>Menu</title>
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10"
                    d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
        </button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KOuD896zE9FpXyo3z4qUnITyqLJObd-8sWCHWBMAbgKpoBDjCxTTaK-fn9pkbeyWi6aiOu15-1O4FCi0iYHV22A7_C_8nl1bjT9gWUpGWTRcxiso71cJhqbhcBxhsub88XHpqp3OAmg51CAe1EdWDBDA9MJ-Ei82UcnxV3Pa_P6peDY3ZqTytpkWhQlw7N7hA"
            autocomplete="off"></form>
    <div class="perfect-scroll">
        <ul class="sw-links" id="sw-docs-nav" data-children=".sw-toc-item">
            <!-- DASHBOARD -->
            <li class="sw-toc-item mt-1 mb-1">
                <a class="sw-toc-link" href="/vi-vn/portal/dashboard/index">
                    <i class="mi mi-Tiles mi-lg mi-fw"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>

            <!-- ARTICLE -->
            <li class="sw-toc-item mt-1 mb-1 mb-1" is-active-menu="" asp-controllers="Articles">
                <div class="inner">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-light" href="/vi-vn/portal/articles/create">
                            <span class="mi mi-List"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/articles/index">
                            <span class="mi mi-Save"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/articles/draft">
                            <span class="mi mi-Preview"></span>
                        </a>
                        <a href="#" class="btn btn-light" data-toggle="collapse" data-target="#collapseArticleSubMenus"
                            role="button" aria-expanded="false" aria-controls="collapseArticleSubMenus">
                            <span class="mi mi-ChevronRightSmall"></span>
                        </a>
                    </div>
                </div>
                <div class="sw-toc-link" data-toggle="collapse" data-target="#collapseArticleSubMenus" role="button"
                    aria-expanded="false" aria-controls="collapseArticleSubMenus">
                    <i class="mi mi-CashDrawer mi-lg mi-fw"></i>
                    <span class="text">Orders</span>
                </div>
                <ul id="collapseArticleSubMenus" class="collapse list-unstyled" role="tabpanel" data-parent="#sw-docs-nav">
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/articles/create">
                            <i class="mi mi-List  mi-fw"></i>
                            <span class="text">All orders</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/articles/index">
                            <i class="mi mi-Save mi-fw"></i>
                            <span class="text">Draft</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/articles/draft">
                            <i class="mi mi-Preview mi-fw"></i>
                            <span class="text">Abandoned checkouts</span>
                        </a>
                    </li>

                </ul>
            </li>

            <!-- PRODUCT -->
            <li class="sw-toc-item mt-1 mb-1" is-active-menu="" asp-controllers="Product">

                <div class="inner">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-light" href="/vi-vn/portal/product/create">
                            <span class="mi mi-Add"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/product/index">
                            <span class="mi mi-List"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/product/draft">
                            <span class="mi mi-Save"></span>
                        </a>
                        <a href="#" class="btn btn-light" data-toggle="collapse" data-target="#collapseProductSubMenus"
                            role="button" aria-expanded="false" aria-controls="collapseProductSubMenus">
                            <span class="mi mi-ChevronRightSmall"></span>
                        </a>
                    </div>
                </div>
                <div class="sw-toc-link" data-toggle="collapse" data-target="#collapseProductSubMenus" role="button"
                    aria-expanded="false" aria-controls="collapseProductSubMenus">
                    <i class="mi mi-Package mi-lg mi-fw"></i>
                    <span class="text">Products</span>
                </div>
                <ul id="collapseProductSubMenus" class="collapse list-unstyled" role="tabpanel" data-parent="#sw-docs-nav">

                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/product/index">
                            <i class="mi mi-List mi-fw"></i>
                            <span class="text">All products</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/product/create">
                            <i class="mi mi-ImportAll mi-fw"></i>
                            <span class="text">Transfers</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/product/draft">
                            <i class="mi mi-ShowAllFiles3Legacy mi-fw"></i>
                            <span class="text">Inventory</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/product/draft">
                            <i class="mi mi-Folder mi-fw"></i>
                            <span class="text">Collections</span>
                        </a>
                    </li>

                </ul>
            </li>

            <!-- PAGES -->
            <li class="sw-toc-item mt-1 mb-1" is-active-route="" asp-controller="Pages" asp-action="Create">

                <div class="inner">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-light" href="/vi-vn/portal/pages/create">
                            <span class="mi mi-Add"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/pages">
                            <span class="mi mi-List"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/pages">
                            <span class="mi mi-Save"></span>
                        </a>
                        <a href="#" class="btn btn-light" data-toggle="collapse" data-target="#collapsePageSubMenus"
                            role="button" aria-expanded="false" aria-controls="collapsePageSubMenus">
                            <span class="mi mi-ChevronRightSmall"></span>
                        </a>
                    </div>
                </div>
                <div class="sw-toc-link" data-toggle="collapse" data-target="#collapsePageSubMenus" role="button"
                    aria-expanded="false" aria-controls="collapsePageSubMenus">
                    <i class="mi mi-Emoji mi-lg mi-fw"></i>
                    <span class="text">Customers</span>
                </div>
                <ul id="collapsePageSubMenus" class="collapse list-unstyled" role="tabpanel" data-parent="#sw-docs-nav">
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/pages/create">
                            <i class="mi mi-Add  mi-fw"></i>
                            <span class="text">Create Page</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/pages">
                            <i class="mi mi-List mi-fw"></i>
                            <span class="text">List Article</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/pages">
                            <i class="mi mi-Save"></i>
                            <span class="text">Draft</span>
                        </a>
                    </li>

                    <li class="hide-on-sb-inactive" is-active-menu="" asp-controllers="Pages" asp-action="AddData,EditData,Contents,Edit"
                        asp-route-id="1">
                        <div class="sw-toc-sub-link mb-1">
                            <i class="mi mi-Page mi-fw"></i>
                            <span class="text">Home</span>
                            <div class="inner">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a class="btn btn-light" href="/vi-vn/portal/pages/edit/1/home_2_1_1_1">
                                        <span class="fas fa-pencil-alt"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <!-- Favorite MODULES -->

            <!-- MODULE -->
            <li class="sw-toc-item mt-1 mb-1" is-active-menu="" asp-controllers="Module">

                <div class="inner">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a is-active-route="" class="btn btn-light" href="/vi-vn/portal/module/create">
                            <span class="mi mi-Add"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/module/index">
                            <span class="mi mi-List"></span>
                        </a>
                        <a class="btn btn-light">
                            <span class="mi mi-Save"></span>
                        </a>
                        <a href="#" class="btn btn-light" data-toggle="collapse" data-target="#collapseModuleSubMenus"
                            aria-expanded="false" aria-controls="collapseModuleSubMenus">
                            <span class="mi mi-ChevronRightSmall"></span>
                        </a>
                    </div>
                </div>
                <div class="sw-toc-link" data-toggle="collapse" data-target="#collapseModuleSubMenus"
                    aria-expanded="false" aria-controls="collapseModuleSubMenus">
                    <i class="mi mi-TwoBars mi-lg mi-fw"></i>
                    <span class="text">Analytics</span>
                </div>
                <ul id="collapseModuleSubMenus" class="collapse list-unstyled" data-parent="#sw-docs-nav">
                    <li>
                        <a is-active-route="" class="sw-toc-sub-link mb-1" href="/vi-vn/portal/module/create">
                            <i class="mi mi-Add  mi-fw"></i>
                            <span class="text">Create Module</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/module/index">
                            <i class="mi mi-List mi-fw"></i>
                            <span class="text">List Module</span>
                        </a>
                    </li>
                    <li>
                        <a data-target="#" class="sw-toc-sub-link mb-1">
                            <i class="mi mi-Save"></i>
                            <span class="text">Draft</span>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Widgets -->

            <!-- THEME -->
            <li class="sw-toc-item mt-1 mb-1">

                <div class="inner">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a class="btn btn-light" href="/vi-vn/portal/theme/create">
                            <span class="mi mi-Add"></span>
                        </a>
                        <a class="btn btn-light" href="/vi-vn/portal/theme/index">
                            <span class="mi mi-List"></span>
                        </a>
                        <a href="#" class="btn btn-light" data-toggle="collapse" data-target="#collapseAppearanceSubMenus"
                            aria-expanded="false" aria-controls="collapseAppearanceSubMenus">
                            <span class="mi mi-ChevronRightSmall"></span>
                        </a>
                    </div>
                </div>
                <div class="sw-toc-link" data-toggle="collapse" data-target="#collapseAppearanceSubMenus"
                    aria-expanded="false" aria-controls="collapseAppearanceSubMenus">
                    <i class="mi mi-Marquee mi-lg mi-fw"></i>
                    <span class="text">Promotions</span>
                </div>
                <ul id="collapseAppearanceSubMenus" class="collapse list-unstyled" data-parent="#sw-docs-nav">
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/theme/create">
                            <i class="mi mi-Add  mi-fw"></i>
                            <span class="text">Create Theme</span>
                        </a>
                    </li>
                    <li>
                        <a class="sw-toc-sub-link mb-1" href="/vi-vn/portal/theme/index">
                            <i class="mi mi-List mi-fw"></i>
                            <span class="text">List Theme</span>
                        </a>
                    </li>

                    <li class="hide-on-sb-inactive" is-active-menu="" asp-controllers="Theme" asp-action="AddData,EditData,Contents,Edit"
                        asp-route-id="1">
                        <div class="sw-toc-sub-link mb-1">
                            <i class="mi mi-Color mi-fw"></i>
                            <span class="text">Default</span>

                            <div class="inner">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a class="btn btn-light" href="/vi-vn/portal/template/index/1/masters">
                                        <span class="fas fa-paint-brush"></span>
                                    </a>
                                    <a href="/vi-vn/portal/file?folder=Templates%2FDefault" class="btn btn-light">
                                        <span class="fas fa-file"></span>
                                    </a>
                                    <a class="btn btn-light" href="/vi-vn/portal/theme/edit/1">
                                        <span class="fas fa-pencil-alt"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <hr>

            <!-- SETTING -->
            <li class="sw-toc-item mt-1 mb-1">

                <div class="inner">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-light" data-toggle="collapse" data-target="#collapseSettingSubMenus"
                            aria-expanded="false" aria-controls="collapseSettingSubMenus">
                            <span class="mi mi-ChevronRightSmall"></span>
                        </a>
                    </div>
                </div>
                <div class="sw-toc-link" data-toggle="collapse" data-target="#collapseSettingSubMenus"
                    aria-expanded="false" aria-controls="collapseSettingSubMenus">
                    <i class="mi mi-Settings mi-lg mi-fw mi-spin"></i>
                    <span class="text">Settings</span>
                </div>
                <ul id="collapseSettingSubMenus" class="collapse list-unstyled" data-parent="#sw-docs-nav">
                    <li>
                        <div class="sw-toc-sub-link mb-1">
                            <i class="mi mi-Repair mi-fw"></i>
                            <span class="text">Configurations</span>

                            <div class="inner">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a class="btn btn-light" href="/vi-vn/portal/setting/configurations/create">
                                        <span class="mi mi-Add"></span>
                                    </a>
                                    <a class="btn btn-light" href="/vi-vn/portal/setting/configurations">
                                        <span class="mi mi-List"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="sw-toc-sub-link mb-1">
                            <i class="mi mi-TimeLanguage mi-fw"></i>
                            <span class="text">Languages</span>
                            <div class="inner">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a class="btn btn-light" href="/vi-vn/portal/language/create">
                                        <span class="mi mi-Add"></span>
                                    </a>
                                    <a class="btn btn-light" href="/vi-vn/portal/language/list">
                                        <span class="mi mi-List"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sw-toc-sub-link mb-1">
                            <i class="mi mi-World mi-fw"></i>
                            <span class="text">Cultures</span>

                            <div class="inner">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <a class="btn btn-light" href="/vi-vn/portal/culture/create">
                                        <span class="mi mi-Add"></span>
                                    </a>
                                    <a class="btn btn-light" href="/vi-vn/portal/culture/index">
                                        <span class="mi mi-List"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="sw-toc-item mt-1 mb-1"></li>
            <li class="sw-toc-item mt-1 mb-1"></li>
        </ul>
    </div>
</div>

<!-- /.Sidebar Holder -->